@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* color codes  */
/* light green- #00FF90 */
/* cream green- #80ED99 */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 3rem;
  margin:1rem;
}
h2{
  margin: 1rem;
  font-size: 1.6rem;
 
}
h3{
  font-size: 1.6rem;
  color:green;
}
p{
  font-size: 1rem;
}
ul li{
  font-size: 0.9rem;
  /* font-weight: bold; */
  list-style: none;
}
input{
  outline: none;
}
a{
  text-decoration: none;
}

.upper_bold{
  text-transform: uppercase;
  font-weight: bold;
}
.logo img{
  width: 7rem;
  margin-left: 1rem;
  /* background-color: blue ; */
}

.second-header_1{
  width: 100% !important;
  /* background-color: greenyellow; */
}
.header-top{
background-color: #E5E5E5;
margin: 0;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
.header_shop a{
  color:#FF6688;
  font-weight: bold;
 
}
.header_shop .header_shop_a img{
  width: 1.2rem;
  padding-bottom:0.2rem ;
}
.header-top-li ul{
  margin: auto;
}
.header-top-li ul li{
  padding: 0.5rem;
  margin:0 0.5rem;
}
.bg_blue{
  background-color: #22577A;
  color: #ffff;
}
.header-top-li ul li:hover{
  background-color: #22577A;
  color: #ffff;
  cursor: pointer;
}
.header-logo{
  width: 100vw;
  box-shadow: 0.0rem 0.1rem 1rem -0.5rem rgba(0,0,0,0.5);
  -webkit-box-shadow: 0.0rem 0.1rem 1rem -0.5rem rgba(0,0,0,0.5);
  -moz-box-shadow: 0.0rem 0.1rem 1rem -0.5rem rgba(0,0,0,0.5);
}
.items{
  margin-top:1rem ;
 margin-right:2rem;
}
.items .ul-element {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}
.items .ul-element li{
  margin:0 1rem;
}
.items .ul-element li a{
  padding: 0.5rem;
  color: #252B42;
  font-weight: bold;
}
.items .ul-element li :hover{
  border-radius: 0.2rem !important;
  font-weight: normal !important;
  color:#ffff !important;
  background-color: #22577A !important;
}

.group3595 .wrapper{
 position: absolute;
  margin:9rem 6rem;
  color: #ffff;
  width: 40vw;
}
.wrapper span{
  color: #00FF90;
}
.group3595{
  
  /* border: 1px solid green; */
  height: 50rem;
  background: url("./Assets/Group\ 3595.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-attachment: scroll;
}
.btn-00FF90{
  background:#80ED99;
  color:#00326C;
}
.btn-00FF90-outline{
  border:0.1rem solid #80ED99 ;
  color: #00FF90;
}
            /* card */


/* Auto Layout */
.card{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 2rem;
margin-top:1rem;
/* position: absolute; */
width: 22rem;
height: 26rem;
/* left: 8.5rem; */
/* top: 82.7rem; */

/* background: #71AED7; */
/* accentued-drop-shadow */

box-shadow: 0rem 1.3rem 1.9rem rgba(0, 0, 0, 0.07);
border-radius: 1.6rem;
}
.card .line-width{
  width:3.8rem;
  height: 0.22rem;
  background: #E74040;
  margin: 0.8rem 0 ;
}
.card h4{
  color:#252B42;
  font-weight: bold;
}
.card h5{
  margin: 0.8rem 0 ;
}
.clipimg{
  width: 4rem;
  clip-path: circle();
  margin: 0.8rem 0rem ;
}
.card .explore-btn{
  margin: 1rem 0 ;
  background-color: #0077B5;
  color: #ffff;
}
.kaaycommunity{
  width:40vw;
  margin:3rem;
  /* background-color: #00FF90; */
}
 .rg_img_community img{
  width:35rem;
  /* border: 1px solid brown; */
}
.kaaycommunity h1{
  font-weight: bold;
}
.kaay_after_card{
  height: 40rem;
  /* position: relative; */
  /* border: 1px solid tomato; */
  background-color: #E74040;
  /* width:100%; */
  background: url('./Assets/after\ community_1.svg');
background-repeat: no-repeat;
background-attachment:scroll;
background-size:contain;
}
.kaay_after_card h6{
  font-weight: bold;
}
.kaay_after_card p{
  font-size: 0.9rem;
  color: #737373;
}

.kaay_after_card_item{
  background-color: #fff;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  /* background-color: blue; */
  /* margin-top: 15rem; */
  margin:15rem 1.4rem;
  padding: 1rem;
  width:16rem;
 /* accentued-drop-shadow */

box-shadow: 0rem 1.1rem 2.5rem rgba(0, 0, 0, 0.1);


}
.kaay_after_card_item img{
/* position: absolute; */
width: 13rem;
text-align: center;
/* margin: auto; */
/* background-color: #22577A; */
}
.findlike_card{
  background-color:#fff;
  border:0.1rem solid rgba(235, 235, 235, 0.842);
  width: 20rem;
  border-radius: 0.2rem;
  margin:0.5rem;
   /* accentued-drop-shadow */

box-shadow: 0rem 1.3rem 1.9rem rgba(0, 0, 0, 0.08);

  /* padding: 1rem; */
}
.findlike_card h6{
  margin: 0;
  margin-top: 0.7rem;
  font-size: 0.9rem;
  font-weight: bold;
}
.findlike_card p{
  /* margin: 0; */
  font-size: 0.7rem;
}
.findlike_card img{
  clip-path: circle();
  width: 3rem;
}
.findlike_card .btn-connect{
  background-color: #444BCE;
  text-transform: uppercase;
  font-size: 0.5rem;
  color: #ffff;
}
.wrapall{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
 
}
.wrapper{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* margin:0 5rem;  */
  /* background-color: gray; */
}

                                    /* Css for footer  */
.main-footer{
margin-top: 6rem;
position: relative;
display: flex;
flex-direction: column;
justify-content: space-around;

  background-image: url('./Assets/footer.svg');
background-repeat: no-repeat;
background-size:cover;
background-attachment: scroll;
  color:#ffff;
}
.main-footer img{
  width: 20rem;
}
.main-footer .footer-top{
 /* background-color: greenyellow; */
 width: 60vw;
 margin:2.5rem auto;
  
}
.main-footer .footer-bottom{
  margin: 3rem;
  /* border:1px solid tomato; */
}
.subscribe-kaayamo{
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 2rem 0;
  align-items: center;
  border-radius: 0.6rem;
}
.subscribe-kaayamo input{
  height: 3rem;
  border: none;
  background-color: #45454500;
   text-align: center;
   font-size: 0.8rem;
}
.main-footer .footer-top .subscribe-kaayamo .subscribe-item h6{
  margin: 0 0.5rem;
  color: #070707 ;
}
.subscribe-kaayamo .subscribe-bg{
  background-color: #4545452f;
  border: 0.1rem solid #00000018;
  border-radius: 0.2rem;
  padding:0 0.2rem;
  
  
}
.btn-subscribe{
  border: none;
  padding: 0.5rem;
  /* margin: 1rem; */
  font-size: 0.8rem;
  border-radius: 0.3rem;
  background-color: #183D55;
color: #ffff;
}
.btn-subscribe:hover{
  background-color:#183d55c9;
}
footer a, footer a:hover{
  color:#ffff;
}
.line_width{
  height:0.05rem;
  width: 90vw;
  background-color: #ffff;
  opacity: 0.5;
  margin: auto;
}
.social-links{
  /* background-color: #00FF90; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin:1rem;
  margin-right: 2rem;
}

/* About Page  */
.width_80{
  width: 80%;
  margin: 2rem;
  /* text-align: left; */
  font-weight: bold;
  /* background-color: grey; */
}
.width_80 p{
  font-size: 1rem;
  font-weight: normal;
}
.width_80 h1{
  font-weight: bold;
  margin: 1rem 0;
}
.width_80 span{
  font-weight: bold;
  color:#96BB7C;
}
.width_80 h2{
  font-weight: bold;
  margin:1rem 0;
}
.founder_card{
  width:18rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
  border-radius: 0.8rem;
  border: 0.1rem solid rgba(223, 218, 218, 0.555);
  padding: 1.5rem;
  box-shadow: 0rem 1.4rem 2rem rgba(0, 0, 0, 0.1);

}
.founder_card img{
  clip-path: circle();
  width: 10rem;
  margin: 1rem;
}
/* Inspiration page css  */
.wrap_inspiration{
  margin-top: 5rem;
}
.card-inspiration{
width:80vw;
margin: auto;
/* padding:1rem; */
  /* border:0.1rem solid green; */
  border-radius: 0.8rem;
  box-shadow: 0rem 0.15rem 1.4rem rgba(109, 109, 109, 0.2);
  padding: 0.5rem;
}
.card-inspiration .card-items{
  margin:1rem 3rem;
  font-weight:bolder;
  color: #22577A;
}
.card-inspiration .card-items p{
  margin: 1rem 0;
}
.card-reverse-item{
 

  display: flex;
  flex-direction: row;
  align-items: center;
}


.card-ispiration-reverse p{
  background-color: #E9F0F8;
  border-radius: 0.4rem;
  margin:0.1rem 1rem;
  padding: 0.6rem;
  width: 30rem;
}
.card-inspiration img, .card-ispiration-reverse img{
  width: 4.5rem;
  /* margin:0.5rem 0; */
  /* background-color: #00FF90; */
  clip-path:circle();
}
.card-ispiration-reverse{
 display: flex;
 flex-direction: row;
 justify-content:flex-end;
 /* align-items: center; */
 margin:1rem;
 margin-right: 8rem;
 font-weight: bold;
 /* background-color: green; */
}

/* Inspiration page css ends here */

/* Forms Css  */
.formwrap{
  box-shadow: 0rem 1.3rem 1.9rem rgba(0, 0, 0, 0.07);
  border-radius: 0.2rem;
  border: 0.1rem solid rgba(248, 246, 246, 0.808);
  width: 45vw;
  margin: auto;
  padding: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: auto; */
}
.forms input{
  height: 2.8rem;
  margin:0.5rem 0.2rem;
  /* text-align: center; */
  font-size: 1rem;
  border: 0.1rem solid rgba(220, 220, 220, 0.863);
}
.forms input::placeholder{

  font-size: 0.8rem;
  padding: 1rem;
}
.btn-signup{
  background-color: #18A0FB;
  color: #ffff;
  border: none;
  padding: 0.6rem 1rem;
  margin:1.5rem 0.2rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}
.btn-signin{
  background-color: #BCBCBC;
color: #ffff;
border: none;
padding: 0.6rem 1rem;
margin:1.5rem 0.2rem;
border-radius: 0.2rem;
font-size: 0.8rem;
}
/* Form Css end  */
/* Responsive  */
@media screen and (max-width:768px) {
html{
font-size: 50%;
}
}