@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Mulish&display=swap');
/* color codes  */
/* light green- #00FF90 */
/* cream green- #80ED99 */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  /* font-family: 'Asap Condensed', sans-serif; */
font-family: 'Mulish', sans-serif;
}
h1{
  font-size: 2.5rem;
  margin:1rem;
}
h2{
  margin: 1rem;
  font-size: 1.6rem;
 
}
h3{
  font-size: 1.6rem;
  color:green;
}
.header-logo{
  width: 100vw;
  box-shadow: 0.0rem 0.3rem 1rem -0.5rem rgba(0,0,0,0.75);
  -webkit-box-shadow: 0.0rem 0.3rem 1rem -0.5rem rgba(0,0,0,0.75);
  -moz-box-shadow: 0.0rem 0.3rem 1rem -0.5rem rgba(0,0,0,0.75);
}
.items{
  /* display: inline-block; */
  /* position: relative; */
  margin-top:1rem ;
 margin-right:2rem;
  /* background-color: turquoise; */
  
}
.items .ul-element {
  
  display: flex;
  flex-direction: row;
 
  text-transform: uppercase;
  
  /* border: 1px solid tomato; */
  
}
.items .ul-element li{
 
  list-style: none;
  margin:0 1rem;
  /* vertical-align:middle; */
}
.items .ul-element li a{
  text-decoration: none;
  /* color:#000000; */
  color: #252B42;
  font-weight: bold;
}

.navbar-shadow{
  /* background-color: black; */
  box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.75);
}
.wrapper{
 
  margin-left: 3.5rem;
  color: #ffff;
  width: 40vw;
  /* border: 1px solid black; */
}
.wrapper span{
  color: #00FF90;
  font-size: 2.6rem;
}
/* .banner-image{
  width: 40vw;
  
} */
.group3595{
  /* margin-left: 1rem; */
  /* text-align: center; */
  /* padding-left: 5rem; */
  /* margin: 1rem; */
  /* position: relative; */
  /* border: 1px solid black; */
height: auto;
  width: 100vw;
  
padding: 10rem 0;
  background: url("./Assets/banner.png");
  background-repeat: no-repeat;
}

.btn-00FF90{
  background:#80ED99;
  color:#00326C;
}
.btn-00FF90-outline{
  border:0.1rem solid #80ED99 ;
  color: #00FF90;
}
            /* card */


/* Auto Layout */
.card{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 1.5rem;
margin-top:1rem;
/* position: absolute; */
width: 25rem;
height: 28rem;
/* left: 8.5rem; */
/* top: 82.7rem; */

/* background: #71AED7; */
/* accentued-drop-shadow */

box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
border-radius: 20px;
}
.card .line-width{
  width:4vw;
  height: 0.5vh;
  background: #E74040;
  margin: 0.8rem 0 0.8rem 0;
}
.card h4{
  color:#252B42;
  font-weight: bold;
}
.card h5{
  margin: 0.8rem 0 0.8rem 0;
}
.clipimg{
  width: 4rem;
  clip-path: circle();
  margin: 0.8rem 0rem 0.8rem 0;
}
.card .explore-btn{
  margin: 1rem 0 1rem 0;
  background-color: #0077B5;
  color: #ffff;
}


/* Responsive  */
@media screen and (max-width:768px) {
html{
font-size: 50%;
}
}