body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard{
  margin: 2rem;
  background-color: aqua;
  width: 22vw;
  padding: 1rem 0;
}
.dashboard .des p{
  font-size: 0.8rem;
  margin: 0;
}
.elements_cont{
  background-color: red;
}